<launch>
<arg name="record_walker" default="false" />
<node pkg="walker" name="walker" type="walker" output="screen" />
<node pkg="rosbag" type="record" name="rosbag_record_walker"
args="record -O $(find walker)/launch/all_topics.bag /clock
/cmd_vel
/gazebo/link_states
/gazebo/model_states
/gazebo/parameter_descriptions
/gazebo/parameter_updates
/gazebo/performance_metrics
/gazebo/set_link_state
/gazebo/set_model_state
/imu
/joint_states
/odom
/rosout
/rosout_agg
/scan
/tf
"
if="$(arg record_walker)" />
</launch>
